.comparison-popup-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.5); /* Dimmed background */
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align popup to the bottom */
  z-index: 2000;
}

.comparison-popup {
  width: 100%; /* Full width */
  max-width: 100%; /* Remove any restrictions */
  background: white;
  border-radius: 15px 15px 0 0; /* Rounded corners on top */
  padding: 20px;
  box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.1);
  animation: slideUp 0.3s ease-in-out; /* Smooth slide-in effect */
  position: relative; /* For close button positioning */
  height:250px;
}

.comparison-popup h3 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.product-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}


.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  width: 80px;
  height: auto;
}
.image-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  background: black;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 14px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(50%, -50%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.compare-btn {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.clear-btn {
  margin-top: 10px;
  text-align: center;
  color: #555;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: #777;
  z-index: 1001; /* Ensure it's on top */
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
