/* Social Media Icons */
.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5; /* Light gray background */
    color: #000;
    border-radius: 50%; /* Circle */
    width: 36px;
    height: 36px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .social-icon:hover {
    background-color: #e0e0e0;
    color:darkslategrey;
  }
  /* Scrolling Text Animation */
.scrolling-text {
  display: inline-block; /* Allow scrolling of inline content */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing text */
  animation: scroll 5s linear infinite; /* Apply animation */
}

/* Animation Keyframes */
@keyframes scroll {
  0% {
    transform: translateX(100%); /* Start outside on the right */
  }
  100% {
    transform: translateX(-100%); /* End outside on the left */
  }
}

/* Additional Styling for Container */
.header-center {
  position: relative;
  overflow: hidden; /* Ensures text stays within bounds */
  width: 100%; /* Full width of the container */
}
  .icons{
    font-size: 1.75rem;
  }
  /* Navbar Text */
  .text-danger {
    text-decoration: underline;
    font-weight: 600;
  }
  .dropdown-toggle::after {
    display: none; /* Hides the default caret icon */
  }
  
  /* Dropdown Buttons */
  .dropdown button {
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-weight: 400;
    color: #000;
  }
  
  .dropdown-item {
    font-size: 14px;
    font-weight: 400;
  }

  .scrolled {
    top:-61px;
    background-color: #ffffff !important;
    transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
  }

  @media (max-width: 991px) { 
   
    .social-icon {
        display: none;
    }

    .header-left, .header-right {
        display: none;
    }   
}

/* Header Text - Visibility */
.desktop-text {
  display: block; /* Visible on large screens */
}

.tablet-text,
.mobile-text {
  display: none;
}

/* Tablet and Mobile - Center Content */
@media (max-width: 298px) {
  .desktop-text {
    display: none;
  }
  .tablet-text {
    display: block;
    text-align: center; /* Center text on tablets */
  }
  
}

/* Mobile Screen (less than 576px) */
@media (max-width: 576px) {
  .tablet-text {
    display: none;
  }
  .mobile-text {
    display: block;
    text-align: center; /* Center text on mobile */
  }
 
}
.border-bottom-header{
  border-bottom:1px solid red;
}